DATABASE_URL="mysql://goi_user:PASSWORD@127.0.0.1:3307/goi_db"
SHADOW_DATABASE_URL="mysql://goi_user:PASSWORD@127.0.0.1:3307/goi_shadow_db"

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
